/* Structure */
body {
    background:dimgray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#content {
    padding: 20px;
    margin: auto;
    width: 80%;
}

/* Naviation */
#main-nav a {
    text-decoration: none;
    color:lightcoral;
}

#main-nav a:hover {
    background:black;
}

/* Tables */
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
}


/* Typography */
h1 {
    color:yellow;
}

h2 {
    color:lightskyblue;
}

.subheader {
    font-style: italic;
}

p {
    color:mediumspringgreen;
}