/* Structure */
body {
    background:dimgray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* Naviation */
#main-nav a {
    text-decoration: none;
    color:lightcoral;
}

#main-nav a:hover {
    background:black;
}

/* Tables */
table {
    width: 100%;
    border: 1px solid white;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid white;
    border-collapse: collapse;
}


/* Typography */
h1 {
    color:yellow;
}

h2 {
    color:lightskyblue;
}

p {
    color:mediumspringgreen;
}