/* Structure */
body {
    font-family: Berlingske Sans, sans-serif;
    background-color: black;
}

/* Navigation */
#main-nav,
#main-nav a {
    font-size: 6.5px;
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
}

.padding-right {
    padding-right: 10px;
}

.nav-text {
    display: none;
}

.nav-hover:hover {
    background-color: red;
}

#search-bar {
    display: flex;
    height: 20px;
    width: 200px;
    background-color: black;
    border: 1px solid white;
    float: right;
    margin: 10px;
}

#CoAaS {
    background-color: #73000a;
    color: white;
    padding: 1px;
}

.upper-body {
    background-color: white;
    padding: 10px;
    position: relative;
    display: block;
}

#upper-body-pic {
    width: 50%;
}

#upper-body-text {
    background-color: white;
    position: absolute;
    text-align: left;
    scale: 0.67;
    border-left-style: solid;
    border-color: #73000a;
    bottom: 0;
    margin-bottom: 5px;
}

#upper-body-text h3 {
    color: #73000a;
}

.middle {
    background-color: white;
    display: flex;
}

.middle a {
    color: black;
    display: block;
    text-decoration: none;
    border-color: black;
}

.middle li {
    display: block;
    padding: 5px;
    border-bottom: 1px solid grey;
}

#MyArts {
    scale: 0.67;
    float: right;
    margin-top: -15px;
}

#middle-right-header {
    padding: 10px;
    border-bottom: 1px solid grey;
}

#middle-pics {
    display: block;
    margin: 5px;
}

#middle-pics h3 {
    color: #73000a;
    scale: 0.67;
}

#middle-pics p {
    scale: 0.67;
}

.bottom-header {
    display: flex;
}

.bottom-header,
.bottom-header a {
    background-color: gray;
    text-decoration: none;
    color: black;
    font-weight: bold;
    justify-content:center;
    padding: 10px;
}

.bottom-header h3 {
    padding-right: 100px;
}

.bottom-link {
    justify-content: flex-end;
    padding: 5px;
    margin-top: 12px;
}

#footer {
    color: white;
    scale: 0.67;
    text-align: left;
}


#lowest-div {
    background-color: #73000a;
}

/* Resolutions */
@media only screen and (min-width: 400px) {
    #main-nav,
    #main-nav a,
    #nav-text {
        display: inline;
        text-align: right;
    }

}
